sentence-transformers==2.2.2
langchain
# flask
# pypdf
# python-dotenv
# pinecone[grpc]
# langchain-pinecone
# langchain_community
# langchain_openai
langchain_groq
langchain_experimental
# -e .
# langchain
sentence-transformers
langchain-huggingface
fastapi
uvicorn
torch
langchain_community
langchain_pinecone
langchain_groq
pinecone-client
