pip==25.0.1
setuptools>=68.0.0
wheel>=0.40.0

# Core dependencies
sentence-transformers>=2.6.0  # Updated to satisfy langchain-huggingface
torch>=2.0.0

# LangChain-related dependencies
langchain==0.1.0
langchain-core>=0.1,<0.2  # Compatible with langchain-groq
langchain-groq==0.0.1
langchain-huggingface==0.1.2
langchain-experimental
langchain-community
langchain-pinecone

# Pinecone
pinecone-client

# Web Framework
fastapi
uvicorn
